@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');


html, body{
  height: 100%;
  width: 100%;
  font-family: "Poppins" , sans-serif;
  color: #222;
  scroll-behavior: smooth;
}

.sticky-top{
    width: 100%;
    position: sticky; 
    
}

.introduction{
    padding: 3rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-top: 1.5rem;
    color: rgb(221, 221, 221);
    text-align: right;

}

.Intro-Background{
    background-color: #222;
    width: 100%;
}


.heading{
    padding-top: 1rem;
    padding-left: 3rem;
    padding-bottom: 1.5rem;
    font-size: 24pt;
    color: #008080;
}

.heading_box{
    padding-top: 0rem;
    padding-left: 1rem;
    padding-bottom: 0rem;
    background-color:  rgb(221, 221, 221);
}

.graphEX{
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border: #008080;
    border: 1rem; 
    text-align: center;
    padding-bottom: 2rem; 
}

.adjacencyList{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
    padding-bottom: 2rem;
}

.adjacencyMatrix{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
    padding-bottom: 2rem;
}

.SCC{
    display:block;
    width: 80%;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    padding-bottom: 2rem;
}

.para{
    padding-left: 10rem;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    padding-right: 10rem;
    color: #222;
    font-size: 15pt;
}


.animationPara{
    text-align: center;
}

#traverse{
	display: block;
	width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    padding-top: 1.5rem;
    text-align: center;
    outline: 1em;
}


.node {
  fill: rgb(221, 221, 221);
  stroke:  #008080;
  stroke-width: 1.5px;
}

.link {
  fill: none;
  stroke: #008080;
  stroke-width: 3px;
}
