@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');



html, body{
  height: 100%;
  width: 100%;
  font-family: "Poppins" , sans-serif;
  background-color: #101013;
 
  color: white;
  scroll-behavior: smooth;

}

.sticky-top {
    position: fixed;
    top: 0;
    width: 100%
}

.navbar{
  background-color: #c3073f;
  color: white;
}

.navbar-spacing{
    padding-top: 3rem;
}
  
.padding{
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

h1{
  color: white;
}


  hr{
    padding-top: 2rem;
    border-top: 5px solid #c3073f;
    color: #c3073f;
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #Introduction p{
      background-color: #222629;
      color: #c5c6c7;
      border-radius: 40px;
      font-size: 1.5em;
  }

  #Introduction img{
    width: 100%;
    height: auto;
    margin: auto;
}