
body {
  margin: 0;
  justify-content: center;
  
  letter-spacing: 0.05em;
  background-color: #fffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.remove-color-hyperlink{
  border-radius: 20px;
  box-shadow:  3px 3px 6px #d9d9d9, 
             -3px -3px 6px #fafafa;
}

.remove-color-hyperlink:hover{
  color: #bbb;
  text-decoration: none;

  border-radius: 20px;

  box-shadow: inset 3px 3px 10px #d9d9d9, 
              inset -3px -3px 10px #fafafa;

}

.remove-hyperlink{
  color:#000;
}

.remove-hyperlink:hover{
  color: #000;
  text-decoration: none;
}


.orange-gradient{
  color: #FF5F6D;  /* fallback for old browsers */
  color: -webkit-linear-gradient(to bottom, #FFC371, #FF5F6D 40%);  /* Chrome 10-25, Safari 5.1-6 */
  color: linear-gradient(to right, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.orange-gradient-background{
  background: #FF5F6D;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #FFC371, #FF5F6D 40%);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.center{
  text-align: center;

}
.align-center-left{
  display: inline-block;
  text-align: left;
  width: 80%;
}

.intro{
  font-family: 'Roboto' , sans-serif;
  margin-top: 1vw;
  min-height: 55vh;
}

.social-icons{
  color: black;
  margin-right: 2vw;
  /* box-shadow: 0px 0px 3px 1px #ccc; */
}

.social-icons:hover{
  color: gray;
  margin-right: 2vw;
 
}

.neumorphicShadow{
  border-radius: 50px;
  background-color: #ffffff;
  box-shadow:  15px 15px 30px #d9d9d9, 
             -15px -15px 30px #fafafa;
}

.neumorphicIndent{
  border-radius: 50px;
  background-color: #ffffff;
  box-shadow:  inset 15px 15px 31px #d9d9d9, 
               inset -15px -15px 31px #fafafa;
}

.neumorphicIndentSmall{
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow:  inset 3px 3px 6px #d9d9d9, 
               inset -3px -3px 6px #fafafa;
}

.margins{
  /* min-height: 85vh; */
  margin-left: 2vw;
  margin-right: auto;
}

.contact{
  min-height: 10vh;
}


.skill-level-confident{
  background-color: #00ac00;
  box-shadow: 0px 0px 10px 1px #CCC;

}

.skill-level-medium{
  background-color: #FAED26;
  box-shadow: 0px 0px 10px 1px #CCC;
}

.skill-level-beginner{
  background-color: #000080;
  box-shadow: 0px 0px 10px 1px #CCC;
}

.box-shadow{
  box-shadow: 0px 0px 10px 1px #CCC;
}





 